:root {
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-800: #155e75;
  --white: #f9fafb;
  --black: #0f172a;
  --dark-grey: #334155;
}

/* Body styles */
body {
	background-color: var(--black);
	color: var(--white);
}

/* Slider styles */
.slider-container {
  position: relative;
  margin: 0 10rem 0 10rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--dark-grey);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
/* Finger colors */
#thumb::-webkit-slider-thumb {
  background: var(--cyan-500);
}
#thumb::-moz-range-thumb {
  background: var(--cyan-500);
}
#index::-webkit-slider-thumb {
  background: var(--cyan-500);
}
#index::-moz-range-thumb {
  background: var(--cyan-500);
}
#middle::-webkit-slider-thumb {
  background: var(--cyan-500);
}
#middle::-moz-range-thumb {
  background: var(--cyan-500);
}
#ring::-webkit-slider-thumb {
  background: var(--cyan-500);
}
#ring::-moz-range-thumb {
  background: var(--cyan-500);
}
#pinky::-webkit-slider-thumb {
  background: var(--cyan-500);
}
#pinky::-moz-range-thumb {
  background: var(--cyan-500);
}
#hand::-webkit-slider-thumb {
  background: var(--cyan-600);
}
#hand::-moz-range-thumb {
  background: var(--cyan-600);
}
/* wrist color */
#wrist::-webkit-slider-thumb {
  background: var(--cyan-800);
}
#wrist::-moz-range-thumb {
  background: var(--cyan-800);
}
